In [12]:

for row in range (7):
  for col in range (5):
    if (col==0 or col==4)and(row!=0) or(row==0 or row==3)and(col>0 and col<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [13]:
for row in range (7):
  for col in range (5):
    if (col==0 )or( col==4)and(row!=0 and row!=3 and row!=6) or(row==0 or row==3or row==6 )and(col>0 and col<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
****

In [14]:

for row in range (7):
  for col in range (5):
    if (col==0) and(row!=0 and  row!=6)or ((row==0 or row==6)and(col>0)) :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

 * * * *
*
*
*
*
*
 * * * *

In [15]:
for row in range (7):
  for col in range (5):
    if (col==0)or (col==4) and(row!=0 and  row!=6)or ((row==0 or row==6)and(col<4)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
*   *
*   *
*   *
****

In [16]:
for row in range (7):
  for col in range (5):
    if col==0 or ((row==0 or row==3 or row==6)and (col>0)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
*
*
*****
*
*
*****

In [17]:
for row in range (7):
  for col in range (5):
    if col==0 or ((row==0 or row==3)and (col>0)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
*
*
*****
*
*
*

In [18]:
for row in range(7):
  for col in range(6):
    if col==0 or (col==4 and(row!=1 and row!=2))or ((row==0 or row==6)and(col>0 and col<4))or (row==3 and (col==3 or col==5)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
*
*
*  ***
*   *
*   *
*****

In [19]:
for row in range(7):
  for col in range(5):
    if col==0 or col==4 or ((row==3)and(col>0 and col<4)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [20]:

for row in range(7):
  for col in range(5):
    if row==0 or row==6 or(col==2 and(row!=0 or row!=6)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
  *
  *
  *
  *
  *
*****

In [21]:

for row in range(7):
  for col in range(5):
    if col==2 or (row==0 and col!=2) or (row==6 and col<2) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
  *
  *
  *
  *
  *
***

In [22]:
i=0
j=4
for row in range(7):
  for col in range(5):
    if col==0 or (row==col+2 and col>1) :
      print("*",end="")
    elif (row==i and col==j):
       print("*",end="")
       i=i+1
       j=j-1
    else:
      print(end=" ")
  print()

*   *
*  *
* *
**
* *
*  *
*   *

In [23]:
for row in range(7):
  for col in range(5):
    if col==0 or (row==6 and col>0)  :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

*
*
*
*
*
*
* * * * *

In [24]:
for row in range(7):
  for col in range(7):
    if col==0 or col==6 or(row==col and col<4) or (row==1 and col==5) or(row==2 and col==4):
      print("*",end="")
    else:
      print(end=" ")
  print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [25]:

for row in range(7):
  for col in range(7):
    if col==0 or col==6 or(row==col and (col<6 and col>0)):
      print("*",end="")
    else:
      print(end=" ")
  print()

*     *
**    *
* *   *
*  *  *
*   * *
*    **
*     *

In [26]:

for row in range(7):
  for col in range(5):
    if ((col==0 or col==4)and (row!=0 and row!=6))or ((row==0 or row==6) and(col>0 and col<4)):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [27]:

for row in range(7):
  for col in range(5):
    if col==0 or (col==4 and(row==1 or row==2))or((row==0 or row==3) and(col>0 and col<4))  :
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*
*
*

In [28]:
for row in range(8):
  for col in range(5):
    if ((col==0 or col==4) and(row>0 and row<6))or ((row==0 or row==6)and(col>0 and col<4)) or (row==5 and col==1)or (row==7 and col==3) :
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

In [29]:
for row in range(7):
  for col in range(5):
    if col==0 or (col==4 and(row==1 or row==2))or((row==0 or row==3) and(col>0 and col<4)) or (row>3 and col==4) :
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
*   *

In [30]:
for row in range(7):
  for col in range(5):
    if ((row==0 or row==3 or row==6) and(col>0 and col<4))or(col==0 and(row>0 and row<3))or (col==4 and(row>3 and row<6)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*
*
 ***
    *
    *
 ***

In [31]:
for row in range(7):
  for col in range(5):
    if row==0 or (col==4 and row>0) :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

* * * * *
    *
    *
    *
    *
    *
    *

In [32]:
for row in range(7):
  for col in range(5):
    if ((col==0 or col==4 )and (row!=6))or ((row==6) and (col>0 and col<4)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [33]:
i=0
j=6
for row in range(4):
  for col in range(7):
    if row==col :
      print("*",end="")
    elif row==i and col==j :
      print("*",end="")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*     *
 *   *
  * *
   *

In [34]:
i=0
j=3
for row in range(4):
  for col in range(7):
    if col==0 or col==6 or (row==2 and col==5)or (row==1 and col==4):
      print("*",end="")
    elif row==i and col==j:
      print("*",end="")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*  *  *
* * * *
**   **
*     *

In [35]:
i=0
j=4
for row in range(5):
  for col in range(5):
    if row==i and col==j :
      print("*",end="")
      i=i+1
      j=j-1
    elif row==col:
      print("*",end="")

    else:
      print(end=" ")
  print()

*   *
 * *
  *
 * *
*   *

In [36]:
i=0
j=4
for row in range(5):
  for col in range(5):
    if (col==2 and row>1) or (row==col and col<2)or (row==0 and col==4)or (row==1 and col==3) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
 * *
  *
  *
  *

In [37]:
i=1
j=3
for row in range(5):
  for col in range(5):
    if (row==0 or row==4)  :
      print("*",end="")
    elif row==i and col==j :
      print("*",end=" ")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*****
   *
  *
 *
*****