In [2]:
for row in range (7):
  for col in range (5):
    if (col==0 )or( col==4)and(row!=0 and row!=3 and row!=6) or(row==0 or row==3or row==6 )and(col>0 and col<4):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
****

In [5]:
for row in range (7):
  for col in range (5):
    if (col==0) and(row!=0 and  row!=6)or ((row==0 or row==6)and(col>0)) :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

 * * * *
*
*
*
*
*
 * * * *

In [9]:
for row in range (7):
  for col in range (5):
    if (col==0)or (col==4) and(row!=0 and  row!=6)or ((row==0 or row==6)and(col<4)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
*   *
*   *
*   *
****

In [13]:
for row in range (7):
  for col in range (5):
    if col==0 or ((row==0 or row==3 or row==6)and (col>0)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
*
*
*****
*
*
*****

In [14]:
for row in range (7):
  for col in range (5):
    if col==0 or ((row==0 or row==3)and (col>0)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*****
*
*
*****
*
*
*

In [24]:
for row in range (7):
  for col in range (6):
    if col==0 and((row==0 or row==3 or row==5)and (col>0)):
      print("*",end="")
    else:
      print(end=" ")
  print()