In [ ]:
num =int(input("enter the number of rows "))
for i in range(1,num+1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()

enter the number of rows 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
num =int(input("enter the number of rows "))
k=1
for i in range(1,num+1):
    for j in range (1,k+1):
        print("*",end=" ")
    k=k+2
    print()

enter the number of rows 5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [12]:
num =int(input("enter the number of rows "))
for i in range(0,num):
    for j in range (0,num-i-1):
        print("*",end=" ")
    print()

enter the number of rows 3
* *
*

In [13]:
num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(i + 1):
        print("*", end=" ")
    print()

Enter the number of rows: 3
*
* *
* * *

In [15]:
num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(num-i):
        print("*", end=" ")
    print()

Enter the number of rows: 3
* * *
* *
*

In [24]:
num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(num-i):
        print(end=" ")
    for j in range(i+1):
      print("*",end=" ")
    print()

Enter the number of rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [93]:
num =int(input("Enter the number of rows: "))
for i in range(num):
  print(' '*(num-i)+"* "*(i+1))
for j in range(num-1):
  print(' '*(j+2)+"* "*(num-j-1))

Enter the number of rows: 6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [68]:
num =int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(num -i):
      print(end=" ")
    for j in range(2*i+1):
      print("*",end="")
    print()

Enter the number of rows: 6
      *
     ***
    *****
   *******
  *********
 ***********

In [111]:
num =int(input("Enter the number of rows: "))
for i in range(num):
  print(' '*(num-i)+"*"*(2*i+1))
for j in range(num-1):
  print(' '*(j+2)+"*"*(2*(num-j-2)+1))

Enter the number of rows: 6
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *