In [7]:
for row in range(7):
  for col in range(5):
    if ((row==0 or row==3 or row==6) and(col>0 and col<4))or(col==0 and(row>0 and row<3))or (col==4 and(row>3 and row<6)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*
*
 ***
    *
    *
 ***

In [10]:
for row in range(7):
  for col in range(5):
    if row==0 or (col==4 and row>0) :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

* * * * *
    *
    *
    *
    *
    *
    *

In [15]:
for row in range(7):
  for col in range(5):
    if ((col==0 or col==4 )and (row!=6))or ((row==6) and (col>0 and col<4)) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [18]:
i=0
j=6
for row in range(4):
  for col in range(7):
    if row==col :
      print("*",end="")
    elif row==i and col==j :
      print("*",end="")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*     *
 *   *
  * *
   *

In [26]:
i=0
j=3
for row in range(4):
  for col in range(7):
    if col==0 or col==6 or (row==2 and col==5)or (row==1 and col==4):
      print("*",end="")
    elif row==i and col==j:
      print("*",end="")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*  *  *
* * * *
**   **
*     *

In [1]:
i=0
j=4
for row in range(5):
  for col in range(5):
    if row==i and col==j :
      print("*",end="")
      i=i+1
      j=j-1
    elif row==col:
      print("*",end="")

    else:
      print(end=" ")
  print()

*   *
 * *
  *
 * *
*   *

In [5]:
i=0
j=4
for row in range(5):
  for col in range(5):
    if (col==2 and row>1) or (row==col and col<2)or (row==0 and col==4)or (row==1 and col==3) :
      print("*",end="")
    else:
      print(end=" ")
  print()

*   *
 * *
  *
  *
  *

In [11]:
i=1
j=3
for row in range(5):
  for col in range(5):
    if (row==0 or row==4)  :
      print("*",end="")
    elif row==i and col==j :
      print("*",end=" ")
      i=i+1
      j=j-1
    else:
      print(end=" ")
  print()

*****
   *
  *
 *
*****